* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NavBar */
nav {
  background-color: black;
  height: 80px;
  padding-top: 7px;
  box-shadow: 5px 15px 50px lightgrey;
}
nav h1 {
  color: #e50914;
  font-weight: bold;
}
nav h4 {
  color: #e50914;
  font-weight: bold;
}
nav h1:hover,
h4:hover {
  cursor: pointer;
  color: tomato;
  border-bottom: 3px solid white;
}
/* SearchBar */
#searchBar {
  background: url(./Components//SearchBar/BgSearch.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100vw 70vh;
  height: 240px;
  border: 1px solid black;
}
#searchBar input {
  width: 550px;
  height: 45px;
  padding: 3px 6px;
  border: 2px solid black;
  outline: none;
  font-weight: bold;
  font-size: 1.4rem;
}
#searchBar button {
  width: 190px;
  height: 45px;
  background: black;
  color: #e50914;
  font-weight: bold;
  padding: 3px 6px;
  border: none;
}
#searchBar button:hover {
  background: #e50914;
  color: white;
}
/* movieContainer */

.movieContainer {
  background-color: #0e1111;
  width: 100vw;
  min-height: 60vh;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px auto;
}
/* movieCard */
.movieCard {
  /* border: 1px solid white; */
  cursor: pointer;
  width: 350px;
  height: 550px;
  margin: 30px 50px;
  box-shadow: 2px 6px 10px white;
}
.movieCard h3 {
  background: #e50914;
  color: black;
  font-weight: bolder;
}
.movieCard:hover {
  /* border: 2px solid white; */
  box-shadow: 5px 12px 10px #e50914;
  transition: 0.2s;
}
.movieCard:hover h3 {
  transition: 0.3s;
  background: white;
  color: #e50914;
}
