* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NavBar */
nav {
  background-color: black;
  height: 80px;
  padding-top: 7px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 3px 3px 15px white;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav h1,
.signOut {
  color: #e50914;
  font-weight: bold;
}
nav a:hover {
  text-decoration: none;
}
nav h1:hover {
  cursor: pointer;
  color: tomato;
}
nav .navRight {
  display: flex;
}
nav .signOut:hover {
  cursor: pointer;
  color: tomato;
  border-bottom: 3px solid white;
}
.middleMenu h4 {
  color: #e50914;
  font-weight: bold;
  margin-bottom: 0;
}
.middleMenu h4:hover {
  cursor: pointer;
  color: tomato;
  border-bottom: 3px solid white;
}
/* SearchBar */
#searchBar {
  width: 100vw;
  background: url(./Components//SearchBar/BgSearch.jpeg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 70vh;
  height: 240px;
  /* border: 1px solid black; */
}
#searchBar input {
  width: 30%;
  height: 45px;
  padding: 3px 6px;
  border: 2px solid black;
  outline: none;
  font-weight: bold;
  font-size: 1.4rem;
}
#searchBar button {
  width: 190px;
  height: 45px;
  background: black;
  color: #e50914;
  font-weight: bold;
  padding: 3px 6px;
  border: none;
}
#searchBar button:hover {
  background: #e50914;
  color: white;
}
/* loading  */
.loadingTitle {
  color: #e50914;
  font-weight: bolder;
  margin-bottom: 200px;
  font-size: 3.7rem;
}
.loading {
  font-size: 2.7rem;
  animation-name: loadingWord;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes loadingWord {
  0% {
    color: #e50914;
  }
  50% {
    color: white;
  }
  100% {
    color: #e50914;
  }
}
h2 .dot1 {
  font-size: 3.5rem;
  animation-name: loadingDots;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
}
h2 .dot2 {
  font-size: 3.5rem;
  animation-name: loadingDots;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}
h2 .dot3 {
  font-size: 3.5rem;
  animation-name: loadingDots;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes loadingDots {
  from {
    color: black;
  }
  to {
    color: #e50914;
  }
}
/* login */
.login {
  width: 100%;
  height: 100vh;
  background: black;
}
.welcomeToFetchflix {
  color: #e50914;
  width: 370px;
  text-align: center;
  font-size: 3.4rem;
  position: absolute;
  top: -150px;
  animation-delay: 0.1s;
  animation-name: welcomeTitle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes welcomeTitle {
  0% {
    top: -150px;
  }
  50% {
    top: 170px;
  }
  100% {
    top: 140px;
  }
}
.inform {
  color: black;
  text-align: center;
  font-size: 1.4rem;
  animation-delay: 0.5s;
  animation-name: informa;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes informa {
  from {
    color: black;
  }
  to {
    color: #e50914;
  }
}
.loginBox {
  width: 400px;
  height: 260px;
  border: 3px solid #e50914;
  background: #0e1111;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.loginBox form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 210px;
  margin-bottom: 40px;
}
.loginBox form input {
  border: none;
  border-radius: 15px;
  padding: 3px 15px;
  width: 100%;
  height: 35px;
  outline: red;
  margin-bottom: 10px;
  color: #e50914;
  font-weight: bolder;
  font-size: 1.1rem;
}
.loginBox form input:invalid {
  border: 2px solid #e50914;
}
.loginBox form label {
  margin: 0;
  color: #e50914;
  font-weight: bolder;
  text-align: center;
  font-size: 1.3rem;
}
.loginBox form button {
  width: 60%;
  margin: 10px auto;
  border: none;
  border-radius: 15px;
  height: 35px !important;
  font-weight: bolder;
  background: #e50914;
  color: white;
}
.loginBox button:hover {
  color: black;
  background: grey;
}
.loginBox button:active {
  color: #e50914;
  background: white;
}
/* movieContainer */
.movieContainer {
  background-color: #0e1111;
  width: 100%;
  min-height: 601px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
/* movieCard */
.movieCard {
  cursor: pointer;
  width: 310px;
  height: 420px;
  margin: 30px 50px;
}
.movieCard h5 {
  background: #e50914;
  color: black;
  font-weight: bolder;
}
.movieCard:hover {
  box-shadow: 3px 5px 5px lightgray;
  transition: 0.2s;
}
.movieCard:active {
  box-shadow: 5px 12px 10px yellow;
}
.movieCard:hover h5 {
  transition: 0.3s;
  color: white;
}
.movieCard:active h5 {
  transition: 0.2s;
  background: black;
  color: #e50914;
}
/* userProfile */
.userProfile {
  background: #0e1111;
  width: 100%;
  min-height: 841px;
  height: auto;
  color: white;
}
.userProfile h2 {
  margin-left: 5%;
  margin-top: 15px;
  color: #e50914;
}
.userProfile h1 .profileUserName {
  font-size: 5rem !important;
  margin-left: 30px;
  color: #e50914;
}
.userProfile h1 {
  padding: 4% 10%;
}
.userProfile h3 {
  padding-left: 7%;
}
/* About us */
.aboutUs {
  background: #0e1111;
  width: 100%;
  min-height: 841px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 90px;
  padding-top: 60px;
  color: white;
}
.aboutUs h1 {
  color: #e50914;
  font-size: 4.3rem;
}
.aboutUs p {
  font-size: 1.3rem;
  width: 55%;
  margin-bottom: 10px;
}
.aboutUs .container {
  min-height: 250px;
  text-align: center;
}
.container p {
  width: 50%;
}
.container p b {
  color: #e50914;
}
.teamPlayers {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  text-align: left;
}
.teamPlayers img {
  width: 110px;
  height: 110px;
  border: 2px solid #e50914;
  border-radius: 50%;
}
/* my List */
.myList {
  background: #0e1111;
  width: 100%;
  min-height: 841px;
  height: auto;
  color: white;
}
.myList .favListContainer {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.myList h1 {
  padding-left: 11%;
  padding-top: 5%;
}
/* contact Page */
.contactPage {
  background: #0e1111;
  width: 100%;
  min-height: 841px;
  height: auto;
}
.contactPage form {
  height: 550px;
  width: 30%;
  border-radius: 15px;
  border: 2px solid #e50914;
  box-shadow: 7px 7px 20px #e50914;
}
.contactPage form label {
  color: #e50914;
  font-size: 1.5rem;
  margin: 0;
}
.contactPage form input {
  height: 50px;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 3px 7px;
  font-weight: bolder;
  color: #e50914;
}
.contactPage form textarea {
  height: 140px;
  width: 95%;
  margin: 15px auto;
  border-radius: 10px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  padding: 3px 7px;
  font-weight: bolder;
  color: #e50914;
}
.contactPage form button {
  height: 55px;
  width: 50%;
  margin: 20px auto;
  border-radius: 15px;
  color: #0e1111;
  background: #e50914;
  border: none;
  font-weight: bolder;
  font-size: 1.3rem;
}

.contactPage form button:hover {
  color: #e50914;
  background: white;
  transition: 0.2s;
}
/* footer */
.footer {
  width: 100%;
  background: black;
  color: #e50914;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 55px;
  position: sticky;
  bottom: 0;
}
.footer a {
  color: grey;
}
.footer a:hover {
  color: grey;
}
.contactUs {
  color: grey;
  font-weight: bold;
}
.contactUs:hover {
  cursor: pointer;
  transition: 0.1s;
  color: white !important;
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 450px) {
  nav {
    padding: 0 6px;
  }
  nav h1 {
    font-size: 1.2rem;
    margin-right: -60px;
  }
  nav h3 {
    font-size: 0.9rem;
    margin-right: -15px;
    margin-left: 55px;
  }
  .signOut {
    font-size: 1rem;
  }
  nav .middleMenu h4 {
    font-size: 1rem;
    margin: 0 10px;
  }
  nav .navRight {
    flex-direction: column;
  }
  .loadingTitle {
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 3rem;
  }
  .welcomeToFetchflix {
    font-size: 2rem;
  }
  @keyframes welcomeTitle {
    0% {
      top: -150px;
    }
    50% {
      top: 150px;
    }
    100% {
      top: 80px;
    }
  }
  .inform {
    margin-top: 180px !important;
  }
  .login .loginBox {
    width: 90%;
  }
  #searchBar input {
    width: 70%;
  }
  #searchBar button {
    width: 100px;
  }
  .aboutUs h1 {
    font-size: 3.1rem;
  }
  .aboutUs p {
    margin-bottom: 30px;
  }
  .contactPage form {
    height: 550px;
    width: 80%;
    border-radius: 15px;
    border: 2px solid #e50914;
    box-shadow: 7px 7px 20px #e50914;
  }
  .footer {
    padding: 0 10px;
  }
  .footer h2 {
    font-size: 1.3rem;
  }
  .footer a {
    font-size: 0.8rem;
  }
}
